

@media (max-width: 500px) {

    table {
        font-size: 0.75rem;
    }


    #edit-btn.btn-outline-secondary,
    #del-btn.btn-outline-danger {
        font-size: 0.75rem;
        padding: 5px 10px;
    
    }

    
}

