{% extends 'inventory/base.html' %}
{% load static %}

{% block content %}

<div class="row">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto mt-5">
            <div class="d-flex justify-content-end">
                <a href="{% url 'add-item' %}" class="btn btn-primary" aria-label="Add Item">+</a>
            </div>

            {% if expiring_items %}
            <div class="alert alert-warning alert-dismissible mt-3 col-10 mx-auto" role="alert">
                <button type="button" class="btn-close" aria-label="Dismiss Alert" data-bs-dismiss="alert"></button>
                <h4 class="alert-heading">Expiring Soon!</h4>
                <ul>
                    {% for item in expiring_items %}
                    <li>{{ item.name }} - {{ item.expiry_date }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="container mt-5">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row mb-3">
                <div class="col-md-4 position-relative">
                    <input type="text" id="searchInput" class="form-control" placeholder="Search for item names..." onkeyup="searchTable()" style="display: none;">
                    
                </div>

                
                
            </div>
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <!-- <th scope="col">ID</th> -->
                        <th scope="col" class="clickable" onclick="toggleSearch()">Name <i class="bi bi-search"></i></th>
                        <th scope="col">Qty</th>
                        <th scope="col" class="clickable" onclick="sortTable('category')">Category <i class="bi bi-arrow-down-up"></i></th>
                        <th scope="col" class="clickable" onclick="sortTable('expiry_date')">Exp Date <i class="bi bi-arrow-down-up"></i></th>
                        <th scope="col">edit</th>
                        <th scope="col">delete</th>
                        <!-- <th scope="col">Date Added</th> -->
                    </tr>
                </thead>
                <tbody>
                    {% if items|length == 0 %}
                    <tr>
                        <th scope="row">-</th> 
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    {% endif %}
                    {% for item in items %}
                    <tr class="{% if item.expiry_date <= Expired %}table-danger{% elif item.expiry_date < Expiring_Soon %}table-warning{% endif %}">
                        <!-- <th scope="row">{{ item.id }}</th> -->
                        <td class="item-name" title="{{ item.name}}"><a href="#" class="item-link" data-bs-toggle="modal" data-bs-target="#itemModal" 
                            data-item-id="{{ item.id }}">{{ item.name }}</a></td>
                        <td>{{ item.quantity }}{{ item.unit }}</td>
                        <td class="category">{{ item.category.name }}</td>
                        <td class="expiry_date">{{ item.expiry_date|date:"d/m/y" }}</td>
                        <!-- <td>{{ item.date_created }}</td> -->
                        <td><a href="{% url 'edit-item' item.id %}" aria-label="Edit Item Button" class="edit-button btn btn-outline-secondary"><i class="bi bi-pencil"></i></a></td>
                        <td><a href="{% url 'delete-item' item.id %}" aria-label="Delete Item button" class="delete-button btn btn-outline-danger"><i class="bi bi-trash"></i></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="itemModal" tabindex="-1" role="dialog" aria-labelledby="itemModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="itemModalLabel">Item Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Modal content goes here -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
