.table td {
  vertical-align: middle;
}
  
div.modal-backdrop {
    z-index: 0;}
 

  
/* Add an underline to clickable table headers */
table th.clickable {
    text-decoration: underline;
    cursor: pointer; /* Indicates it's clickable */
}

/* Add a hover effect to make it visually obvious */
table th.clickable:hover {
    color: #007bff; /* Matches the primary Bootstrap color */
    text-decoration: none; /* Removes underline on hover */
}
  


 
div #quote-container {
  margin-top: 7rem;
}

div #quote-container q {
  font-size: 1.5rem;
  font-style: italic;
}
 
 #text-container {
    z-index: 100;
    

    position: absolute;
  }

  
  :root {
    --color-bg1: rgb(255, 255, 255);
    --color-bg2: rgb(190, 201, 236);
    --color1: 255, 255, 255;
    --color2: 210, 225, 250;
    --color3: 255, 255, 255;
    --color4: 255, 255, 255;
    --color5: 210, 225, 250;
    /* --color-interactive: 140, 100, 255; */
    --circle-size: 80%;
    --blending: hard-light;
  }
  
  @keyframes moveInCircle {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes moveVertical {
    0% {
      transform: translateY(-50%);
    }
    50% {
      transform: translateY(50%);
    }
    100% {
      transform: translateY(-50%);
    }
  }
  
  @keyframes moveHorizontal {
    0% {
      transform: translateX(-50%) translateY(-10%);
    }
    50% {
      transform: translateX(50%) translateY(10%);
    }
    100% {
      transform: translateX(-50%) translateY(-10%);
    }
  }
  
  
  .gradient-bg {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
    top: 0;
    left: 0;
  
    svg {
      position: fixed;
      top:0;
      left:0;
      width: 0;
      height: 0;
    }
  
  
    .gradients-container {
      filter: url(#goo) blur(40px) ;
      width: 100%;
      height: 100%;
    }
  
    .g1 {
      position: absolute;
      background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
      mix-blend-mode: var(--blending);
  
      width: var(--circle-size);
      height: var(--circle-size);
      top: calc(50% - var(--circle-size) / 2);
      left: calc(50% - var(--circle-size) / 2);
  
      transform-origin: center center;
      animation: moveVertical 30s ease infinite;
  
      opacity: 1;
    }
  
    .g2 {
      position: absolute;
      background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
      mix-blend-mode: var(--blending);
  
      width: var(--circle-size);
      height: var(--circle-size);
      top: calc(50% - var(--circle-size) / 2);
      left: calc(50% - var(--circle-size) / 2);
  
      transform-origin: calc(50% - 400px);
      animation: moveInCircle 20s reverse infinite;
  
      opacity: 1;
    }
  
    .g3 {
      position: absolute;
      background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
      mix-blend-mode: var(--blending);
  
      width: var(--circle-size);
      height: var(--circle-size);
      top: calc(50% - var(--circle-size) / 2 + 200px);
      left: calc(50% - var(--circle-size) / 2 - 500px);
  
      transform-origin: calc(50% + 400px);
      animation: moveInCircle 40s linear infinite;
  
      opacity: 1;
    }
  
    .g4 {
      position: absolute;
      background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
      mix-blend-mode: var(--blending);
  
      width: var(--circle-size);
      height: var(--circle-size);
      top: calc(50% - var(--circle-size) / 2);
      left: calc(50% - var(--circle-size) / 2);
  
      transform-origin: calc(50% - 200px);
      animation: moveHorizontal 40s ease infinite;
  
      opacity: 0.7;
    }
  
    .g5 {
      position: absolute;
      background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
      mix-blend-mode: var(--blending);
  
      width: calc(var(--circle-size) * 2);
      height: calc(var(--circle-size) * 2);
      top: calc(50% - var(--circle-size));
      left: calc(50% - var(--circle-size));
  
      transform-origin: calc(50% - 800px) calc(50% + 200px);
      animation: moveInCircle 20s ease infinite;
  
      opacity: 1;
    }

  }

td.item-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 73px; /* Adjust the width as needed */
}


#intro-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white; /* or any other background color */
    z-index: 1000; /* ensure it is above other content */
    opacity: 1;
    transition: opacity 1s ease;
}


#intro-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

#intro-logo path{
  stroke-linecap: round;
  stroke-linejoin: miter;
  shape-rendering: geometricPrecision;
  

 
}


#intro-logo path:nth-child(1) {
    stroke-dasharray: 566.783447265625px;
    stroke-dashoffset: 566.783447265625px;
    animation: line-anim 2s ease forwards;
    

}
#intro-logo path:nth-child(2) {
    stroke-dasharray: 245.22935485839844px;
    stroke-dashoffset: 245.22935485839844px;
    animation: line-anim 2s ease forwards;
    
}
#intro-logo path:nth-child(3) {
    stroke-dasharray: 245.63597106933594px;
    stroke-dashoffset: 245.63597106933594px;
    animation: line-anim 2s ease forwards;
    
}
#intro-logo path:nth-child(4) {
    stroke-dasharray: 358.0823059082031px;
    stroke-dashoffset: 358.0823059082031px;
    animation: line-anim 2s ease forwards;
    
}
#intro-logo path:nth-child(5) {
    stroke-dasharray: 439.80328369140625px;
    stroke-dashoffset: 439.80328369140625px;
    animation: line-anim 2s ease forwards;
    
}

@keyframes line-anim {
    to {
        stroke-dashoffset: 0;
    }
}




@media screen and (max-width: 700px) {

    table {
        font-size: 0.75rem;
    }


    #edit-btn.btn-outline-secondary,
    #del-btn.btn-outline-danger {
        font-size: 0.75rem;
        padding: 5px 10px;
    
    }

    #nav-logo {
        max-width: 100px;
        height: auto;
 
    }
    
}

